/*html structure following this spec http://oli.jp/2009/html5-structure1/*/

/*material color pallete https://www.google.com/design/spec/style/color.html#color-color-palette*/

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    color: #404040;
    font:300 16px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-shadow: 0px 0px 1px rgba(50,50,50,0.2);
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    /*background-color: #f5f5f5;*/
    /*background-color: #75A5F4;*/
    overflow-x: hidden;
}

body.nav-active{
    overflow: hidden;
}


h1,h2,h3,h4,h5,h6{
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.4
}

h1 {
    padding-bottom: .3em;
    font-size: 2.25em;
    line-height: 1.2;
}

h2 {
    padding-bottom: .3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee
}

h3 {
    font-size: 1.5em;
    line-height: 1.43
}

h4 {
    font-size: 1.25em
}

h5 {
    font-size: 1em
}

h6 {
    font-size: 1em;
    color: #777
}


.wrapper {
  max-width: 1200px;
  margin: auto;
}

a {
    color: #0063FF;
    text-decoration: none;
}

/*nav*/

.fixed {
    position: fixed;
}

.logo {
    /*margin: 0 15px;*/
}
.logo a{
    font-weight: 400;
    font-size: 20px;
    line-height: 56px;
    padding: 0 15px;
}

.btn{
    cursor: pointer;
}

.nav-wrapper {
    background-color: #4184f3;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

nav {
    /*background-color: #4184f3;*/
    color: #fff;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

nav a {
    color: #fff;
}

.image-caption{
    text-align: center;
    display: block;
    margin: 10px;
    color: rgba(0,0,0,.54);
    font-size: .8em;
}

.menu-wrapper {
    /*display: none;*/
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    /*background-color: #4184f3;*/
    background-color: transparent;
    margin: 0;
    padding: 56px 0 0 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    /*transition: none;
    transform: none;*/
    padding: 0;
    margin-top: 56px;
    transition: all .5s;
    z-index: 10;
}

.menu-wrapper.active {
    opacity: 1;
    visibility: visible;
}

.menu-wrapper ul.menus {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.logo {
    z-index: 999;
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0;
}

.menu-wrapper li {
    will-change: transform, opacity;
    opacity: 0;
    box-sizing: border-box;
    transform: translateY(-100px);
    transition: all 0.3s ease-out;
}

.menu-wrapper li a {
    font-size: 5vw;
    font-weight: 300;
    display: inline-block;
    width: 100%;
    transition: background .4s ease-out;
}

.menu-wrapper li a:hover {
    /*background: #3D5AFE;*/
}

.menu-wrapper a {
    text-decoration: none;
    color: #fff;
    padding: 15px;
}

.nav-toggle-icon {
    display: block;
    width: 56px;
    height: 56px;
    /*position: relative;*/
}


/*nav end*/

.container {
    margin: 0 auto;
}
.container.content {
    margin-top: 25px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.main {
    background: #fff;
    flex: 3 1 auto;
    min-height: 320px;
    max-width: 727.5px;
    width: 100%;
    /*margin-top: 15px;*/
}
.title-list{
    min-height: 320px;
}
.title-list section{
    padding: 5px 0;
}

aside {
    /*background: #eee;*/
    flex: 1 1 auto;
    min-height: 50px;
    min-width: 150px;
    max-width: 242.5px;
    padding: 15px;
    display: none;
}

.tocify li, .tocify ul{
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

article{
    background: #fff;
    /*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);*/
    padding: 15px;
    /*margin: 25px 0;*/
}
article iframe{
    width: 100%;
}
article img{
    max-width: 100%;
    display: block;
    margin: 10px auto;
    color: #999;
    cursor: pointer;
}
article code,article tt{
    padding: .1em .2em;
    margin: 0 5px;
    background-color: rgba(0,0,0,.04);
    border-radius: 3px;
}
article blockquote{
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #CBC8C8;
    margin: 0 -15px;
}
article hr{
    height: 4px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
}
figure.highlight .gutter{
    padding: 0 5px;
}

/*index cards*/
.post-header{
    /*background-color: #4184f3;*/
    /*padding: 15px;*/
}
.post-header.with-cover{
    /*height: 150px;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-bottom: 45%;
    background-color: #4184f3;
    display: block;
}
.post-header .post-title{
    margin: 0;
    width: 100%;
    /*padding: 15px;*/

}
.post-header.with-cover{
    background-color: #4184f3;
}
.post-header.with-cover .post-title{
    color: #fff;
    position: absolute;
    bottom: 0;
    /*margin: 0;*/
    left: 0;
    /*padding: 15px;*/
    padding-top: 20px;
    padding-bottom: 10px;
    /*width: 100%;*/
    text-shadow: 0 1px 3px rgba(0,0,0,.4),0 0 30px rgba(0,0,0,.075);
    /*text-shadow: 1px 1px 5px rgba(50,50,50,0.9);*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.29+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4a000000',GradientType=0 ); /* IE6-9 */
}
.post-header.with-cover .post-title span{
    color: #fff;
    padding: 0 10px;
}
.post-header .post-title span{
    color: #404040;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 0px;
}
.post-abstract{
    padding: 10px 0;
}
.post-info{
    /*display: flex;*/
    justify-content: space-between;
    align-items: center;
}
.post-date{
    color: rgba(0,0,0,0.54);
}
.read-more{
    float: right;
}
/*tags*/
ul.post-tag-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
ul.post-tag-list li.post-tag-list-item{
    display: inline-block;
}
ul.post-tag-list li.post-tag-list-item a{
    padding: 5px;
}

ul.post-tag-list li.post-tag-list-item a::before{
    content: "#";
}

.post-content,.post-abstract{
    word-break: break-word;
}

article blockquote ol,article blockquote ul{
    padding-left: 20px;
}

#toc *{
    /*-webkit-transform: translate3d(0, 0, 0);*/
    /*transform : translate3d(0, 0, 0);*/
}
#toc.tocify{
    border-radius: 0;
    /*width: 100%;
    overflow: inherit;*/
    /*-webkit-transform: translate3d(0, 0, 0)!important;*/
    /*transform        : translate3d(0, 0, 0)!important;*/
}
.tocify li a{
    color: rgba(0,0,0,0.54);
}
.tocify li{
    border-left: 2px solid transparent;
}
.tocify li.tocify-focus{
    border-left: 2px solid #0063FF;
}
.tocify li.tocify-focus a{
    color:#0063FF;
}
.pager{
    display: flex;
    justify-content: space-between;
}
.pager .pager-item{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*flex: 1 1 auto;*/
    max-width: 50%;
}
.pager .post-nav-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pager .post-prev{
    text-align: left;
   margin-right: auto;
}
.pager .post-next{
    text-align: right;
   margin-left: auto;
}
.pagination{
    display: flex;
    justify-content: center;
    height: 46px;
}
.pagination .page-number{
    flex: 1 1 auto;
    text-align: center;
}
.pagination .page-number,.pagination a{
    display: inline-block;
    height: 100%;
    padding: 10px;
}

figure.highlight figcaption{
    margin-left: 15px;
    display: none;
}

@media (min-width: 425px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .logo{
        margin: 0;
    }

    figure.highlight,pre, .highlight, .gist {
        margin:15px 0;
    }

    article blockquote{
        margin: 0;
    }

}

@media (min-width: 768px) {
    .logo{
        padding: 15px;
    }
    .logo.fixed {
        position: static;
    }
    .container {
        /*width: 750px;*/
    }

    .nav-toggle-icon {
        display: none;
    }
    .menu-wrapper {
        position: relative;
        /*position: static;*/
        display: flex;
        width: auto;
        height: auto;
        padding: 0;
        opacity: 1;
        visibility: visible;
        margin: 0;
        transition: none;
    }
    .menu-wrapper ul.menus {
        flex-direction: row;
        /*height: auto;*/
    }
    .menu-wrapper li {
        will-change: inherit;
        margin: 0;
        transform: none;
        opacity: 1;
        transition: none;
        /*margin-right: 30px;*/
    }
    .menu-wrapper li a {
        font-size: inherit;
        font-weight: inherit;
        height: 100%;
        /*line-height: 56px;*/
        /*padding: 0;*/
    }

    figure.highlight figcaption{
        display: block;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
     aside {
        display: block;
    }
}

.comment-section{
    padding: 15px;
}

.footer{
    margin: 30px 15px;
    text-align: center;
    font-size: .8em;
    color: rgba(0,0,0,0.54);
}
.footer p{
    margin: 0;
}

/*keyboard support*/
kbd {
  font-family: monospace, monospace;
  font-size: 1em;
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}
